<title>Cardápio</title>
</head>
<body>
  <h1>Cardápio</h1>

  <h2>Entradas</h2>
  <table>
    <tr><td>Bruschetta</td><td>R$ 18,00</td></tr>
    <tr><td>Salada Caprese</td><td>R$ 22,00</td></tr>
    <tr><td>Calabresa Acebolada</td><td>R$ 20,00</td></tr>
  </table>

  <h2>Pratos Principais</h2>
  <table>
    <tr><td>Filé à Parmegiana</td><td>R$ 38,00</td></tr>
    <tr><td>Risoto de Cogumelos</td><td>R$ 36,00</td></tr>
    <tr><td>Frango Grelhado com Ervas</td><td>R$ 30,00</td></tr>
    <tr><td>Spaghetti ao Molho Bolonhesa</td><td>R$ 28,00</td></tr>
  </table>

  <h2>Sobremesas</h2>
  <table>
    <tr><td>Pannacotta</td><td>R$ 15,00</td></tr>
    <tr><td>Brownie com Sorvete</td><td>R$ 18,00</td></tr>
  </table>

  <h2>Bebidas</h2>
  <table>
    <tr><td>Refrigerante (350ml)</td><td>R$ 6,00</td></tr>
    <tr><td>Suco Natural (300ml)</td><td>R$ 8,00</td></tr>
    <tr><td>Café</td><td>R$ 5,00</td></tr>
  </table>
</body>
</html>