<form method="POST" action="login/add">
  <input type="text" name="nome" placeholder="Nome de usuário" required>
  <input type="password" name="senha" placeholder="Senha" required>
  {{!-- <label for="tipo">Tipo de usuário:</label> --}}
  <button type="submit" class="btn btn-outline-info">Login</button>
</form>
<a href="/login/registerform">Não tem uma conta? Cadastre-se aqui</a>